@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');


body{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.textHolder{
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    animation-duration: 2s;
    animation-name: slide;
}

.prompt>label{
    font-size: 21px;
}

.prompt{
    width: 400px;
    border: 0 solid black;
    border-radius: 20px;
    background-color: rgb(197, 197, 197);
    padding: 15px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prompt>input{
    height: 24px;
    border: 0 solid rgb(0, 0, 0);
    border-radius: 5px;
    text-transform: lowercase;
    padding: 2px, 7px;
}

.prompt>button{
    margin-top: 10px;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: rgb(90, 145, 207);
    font-weight: 900;
    color: rgb(255, 255, 255);
    outline: none;
}

.prompt>button:active{
    outline: none;
    color: rgb(235, 235, 235);
    background-color: rgb(87, 139, 199);
    box-shadow: inset 0px 0px 5px #2900f3;
}

input:focus{
    background: #ffe;
    outline: none;
}

@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}